<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dailystudy.dtmsapi.mapper.EmployeeMapper">

    <select id="userIdentifier" parameterType="dbmap" resultType="dbmap">
        select
            id,
            userId,
            userType,
            dbPrefixName
        from
            common.userIdentifier
        where
            userId = #{userId}
    </select>

    <select id="employee" parameterType="com.dailystudy.dtmsapi.model.Employee" resultType="com.dailystudy.dtmsapi.model.Employee">
        select
        im.MNumber as memberNumber,
        im.MName as memberName,
        im.ACCode as academyCode,
        im.MType as memberType,
        im.MSex as memberSex,
        im.MOPosition as department,
        itd.MTeacherType as grade,
        itd.SBName as subjectName,
        sa.ACName as academyName,
        sa.smsDatabaseName,
        sa.ACPhone as academyPhone,
        sa.aliasName,
        sa.useNormalMessage,
        sa.useKakaoMessage,
        sa.categoryId,
        sa.website,
        sa.phoneNumberForUnsubscribeSMS,
        sac.code as academyCategoryCode,
        sac.name as academyCategoryName,
        sac.assignClassDecisionDay,
        sac.phoneNumber as academyCategoryPhone,
        sac.academyCompanyId
        from
        ${dbPrefixName}new_center.inp_member im
        inner join
        ${dbPrefixName}new_center.Sinp_academy sa on sa.ACCode = im.ACCode
        inner join
        ${dbPrefixName}new_center.Sinp_academyCategory sac on sac.id = sa.categoryId
        inner join
        ${dbPrefixName}new_center.Sinp_academyCompany sc on sc.academyCompanyId = sac.academyCompanyId
        left join
        ${dbPrefixName}new_center.inp_teacherDetail itd on im.MNumber = itd.MNumber
        where
        im.MStatus = '재직'
        <if test="memberId != null">
            and im.MId = #{memberId}
        </if>
        <if test="memberMobile != null">
            and im.MMobile = #{memberMobile}
        </if>
        <if test="memberType != null">
            and im.MType = #{memberType}
        </if>
    </select>

    <select id="memberExtraPrivilegeCount" resultType="int">
        select
            count(*) count
        from
            common.memberExtraPrivilegeCategory mepc
            inner join
            ${dbPrefixName}new_center.memberExtraPrivilege mep on mep.memberExtraPrivilegeCategoryId = mepc.id
        where
            mepc.category = #{privilegeCategory}
          and (mep.memberNumber = #{authMemberNumber} or mep.academyCode = #{authMemberAcademyCode})
    </select>

    <select id="accessibleAcademy" resultType="int">
        select
            count(*)
        from
            ${dbPrefixName}new_center.inp_member im
                left join
            ${dbPrefixName}new_center.inp_memberAcademyDisplay imad on imad.MNumber = im.MNumber
        where
            im.MNumber = #{authMemberNumber}
          and (im.ACCode = #{authMemberSelectedAcademy} or imad.ACCode = #{authMemberSelectedAcademy})
    </select>

    <select id="accessibleMenu" parameterType="dbmap" resultType="dbmap">
        select
        m.needPrivilege,
        imm.memberNumber
        from
        common.menu m
        left join
        ${dbPrefixName}new_center.inp_member_menu imm on m.id = imm.menuId and imm.memberNumber = #{memberNumber}
        left join
        ${dbPrefixName}new_center.inp_member im on im.MNumber = imm.memberNumber and im.MStatus = '재직'
        where
        <choose>
            <when test="menuId != null">
                m.id = #{menuId}
            </when>
            <otherwise>
                m.uri = #{uri}
            </otherwise>
        </choose>
        and m.useYN = 'Y'
        and (m.needPrivilege = 'N' or im.MNumber is not null)
    </select>

</mapper>