<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dailystudy.dtmsapi.mapper.LectureMapper">

    <resultMap id="LectureMap" type="LectureDto">
        <result column="ISNumber" property="isnumber"/>
        <result column="ISName" property="isname"/>
        <result column="MNumber" property="teacher"/>
        <result column="ISLevel" property="level"/>
    </resultMap>

    <select id="selectLectureList" resultMap="LectureMap">
        SELECT *
        FROM new_center.Sinp_instruction
        WHERE ISStatus='진행' and ACCode='master'
    </select>

    <select id="selectLecture" resultMap="LectureMap">
        SELECT ISNumber,ISName,MName,ISLevel
        FROM new_center.Sinp_instruction si
                 INNER JOIN new_center.inp_member im ON si.MNumber = im.MNumber
        WHERE ISStatus='진행' and si.ACCode='master'
        and ISNumber = #{isnumber}
    </select>
</mapper>