<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailystudy.dtmsapi.mapper.LoginMapper">

    <insert id="insertRefreshToken" parameterType="map">
        insert into common.refreshToken (
            token,
            insertDateTime,
            expirationDateTime,
            ip,
            userId
        ) values (
            #{token},
            now(),
            date_add(now(), interval 12 hour),
            #{ip},
            #{userId}
        )
    </insert>

    <select id="refreshToken" parameterType="map" resultType="map">
        select
            token,
            insertDateTime,
            expirationDateTime,
            ip,
            userId
        from
            common.refreshToken
        where
            token = #{token}
        and expirationDateTime <![CDATA[>]]> now()
    </select>
</mapper>