<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailystudy.dtmsapi.mapper.LoginMapper">
    <select id="employee" parameterType="dbmap" resultType="dbmap">
        select
            MNumber as memberNumber,
            MId as memberId,
            MOPosition as department
        from
            ${dbPrefixName}new_center.inp_member
        where
            MStatus = '재직'
        and MId = #{memberId}
        and MPassword = PASSWORD(#{password})
    </select>

    <insert id="insertRefreshToken" parameterType="dbmap">
        insert into common.refreshToken (
            token,
            insertDateTime,
            expirationDateTime,
            ip,
            memberId
        ) values (
            #{token},
            now(),
            date_add(now(), interval 12 hour),
            #{ip},
            #{memberId}
        )
    </insert>

    <select id="refreshToken" parameterType="dbmap" resultType="dbmap">
        select
            token,
            insertDateTime,
            expirationDateTime,
            ip,
            memberId
        from
            common.refreshToken
        where
            token = #{token}
        and expirationDateTime <![CDATA[>]]> now()
    </select>
</mapper>